{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}Home{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}
<div class="row">
    <div class="span12 center">
        <h1 id="header">SB Makerspace</h1>
        <br />
    </div>
</div>
<!---->
<div class="row">
    <div class="span4 offset3">
        <form action="." class="form mailling_list" method="post">
            {{ mailing_list_form.as_ul }}
            <input class="btn btn-large btn-primary" name="mailinglist" type="submit" value="Sign Up" />
            {% csrf_token %}
        </form>
    </div>
    <div class="span4">
        <form action="." class="form mailling_list" method="post">
            {{ contact_us_form.as_ul }}
            <input class="btn btn-large btn-primary" name="contactus" type="submit" value="Sign Up" />
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}{% endblock %}
